@define-color   BLCK #333333;
@define-color   GREY #474747;
@define-color   WHTE #CCCCCC;

* {
  font-family: 'Monaco', monospace;
  font-size: 24px;
}

/* Window */
window {
  width: 33%;
  margin: 0px;
  padding: 10px;
  border: 4px solid @BLCK;
  border-radius: 10px;
  background-color: @WHTE;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @WHTE;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @WHTE;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @WHTE;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @BLCK;
  background-color: @WHTE;
}

#input image {
    border: none;
    color: @BLCK;
}

#input * {
  outline: 4px solid @BLCK!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @BLCK;
}

#entry {
  background-color: @WHTE;
}

#entry arrow {
  border: none;
  color: @BLACK;
}

/* Selected Entry */
#entry:selected {
  border: 2px solid @GREY;
  border-radius: 10px;
  font-weight: bold;
}

#entry:selected #text {
  color: @BLCK;
}

#entry:drop(active) {
  background-color: @BLCK!important;
}
