@import "mocha.css";
@define-color   BLCK #333333;
@define-color   GREY #474747;
@define-color   WHTE #CCCCCC;

* {
    font-size: 22px;
    border-radius: 5px;
    font-family: MonacoLigaturized Nerd Font Mono;
}

window#waybar {
    background-color: #1E1E2E;
    color: #ffffff;
    /* border-bottom: 0px; */
    transition-property: background-color;
    transition-duration: .5s;
    /* margin-bottom: 0px; */
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* .modules-right {
    margin: 10px 20px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 20px;
} */

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */

/* #workspaces {
    background-color: @BLCK;
} */

#workspaces button {
    /* padding: 2px 10px 4px 10px; */
    padding: 0 5px;
    border-radius: 5em / 5em;
    background-color: @surface0;
    color: @peach;
    margin: 2px;
    font-weight: bold;
}

/* #workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
} */

/* #workspaces button:hover {
    color: #333333;
} */

/* #workspaces button.active {
    color: @WHTE;
    box-shadow: inset 0 -3px #ffffff;
} */

/* #workspaces button.urgent {
    background-color: #b16286;
} */

#cava,
#window,
#mpris,
#cpu,
#temperature,
#custom-gpu-utilization,
#custom-gpu-temperature,
#memory,
#wireplumber,
#clock,
#custom-notification,
#tray,
#load {
    padding: 0 10px;
    color: @peach;
    background-color: @surface0;
    font-weight: bold;
    /* margin: 0 5px; */
}

/* #custom-notifcation {
    font-weight: bold;
    padding: 0 0 0 10px;
} */

/* #mode {
    background-color: @BLCK;
    color: @GREY;
    box-shadow: inset 0 -3px #ffffff;
} */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* #cava {
    width: 300px;
    padding: 0 5px;
} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* #mpris.playing {
    background-color: @bgBlueGray;
    color: @main;
}
#tray menu {
    font-family: sans-serif;
} */
